@import 'antd/dist/antd.less';

@border-radius-base: 4px;
@text-color: #493224;

body {
  font-family: 'Satoshi', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: #493224;
  background: #faf2ee;
}

.highlight {
  background-color: #f9f9f9;
}

.ant-page-header-heading-title {
  color: #493224;
  font-size: 29px;

  &:before {
    content: '';
    background: url('/assets/logo-icon.svg') no-repeat;
    margin-right: 4px;
    width: 35px;
    height: 29px;
    display: inline-block;
    vertical-align: bottom;
  }
}

.ant-btn {
  border: 0px;
  box-shadow: none;
}

.ant-btn-round.ant-btn-lg {
  border-radius: 30px;
  /* background: #f2e1d8; */

  &:hover {
    /* background: #e3d3cb; */
    color: inherit;
  }
}

.ant-btn-primary {
  background: #fa6836;
  min-width: 335px;
  height: 50px;
  font-weight: 700;

  &:hover {
    background: #c74e25;
    color: #fff;
  }
}

.ant-btn-primary.ant-btn-round.ant-btn-lg:hover {
  color: #fff;
}

.menu-item {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;

  /* identical to box height, or 145% */
  letter-spacing: -0.01em;

  color: #493224;

  position: relative;

  &:not(:last-child) {
    margin-right: 48px;
  }

  &:hover,
  &.active {
    color: #493224;
    &:before {
      content: '';
      width: 100%;
      height: 6px;
      background: #ead6cc;
      display: inline-block;
      position: absolute;
      z-index: -1;
      bottom: 0px;
    }
  }
}

.intro {
  padding-top: 85px;
  padding-bottom: 10px;
  display: grid;
  column-gap: 85px;
  grid-template-columns: repeat(3, 1fr);

  margin: auto;
  width: 70vw;
}

.intro-text {
  font-weight: 900;
  font-size: 53px;
  line-height: 64px;
  grid-column-start: 1;
  grid-column-end: 3;

  text-align: left;
}

.intro-image {
  grid-column-start: 3;
}

.section-title {
  font-weight: 900;
  font-size: 23px;
  line-height: 89px;
  text-align: left;

  margin: auto;
  width: 70vw;

  &:after {
    vertical-align: middle;
    margin-left: 8px;
  }

  &.pending {
    &:after {
      content: url('/assets/pending.svg');
    }
  }

  &.approved {
    &:after {
      content: url('/assets/approved.svg');
    }
  }
}

.submit-page-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 29px;

  margin-bottom: 40px;
}

.join-header {
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;

  text-align: center;

  color: #fa6836;

  margin-bottom: 20px;
}

.join-form {
  margin: auto;
  width: 70vw;

  ol {
    text-align: left;
    list-style: decimal;
    padding-left: 20px;
  }
}

.ant-input {
  border: 1px solid #d7c9c3;

  &:hover {
    border-color: #d7c9c3;
  }
}

.cover-letter {
  margin-bottom: 40px;
}

.proposals {
  margin: auto;
  width: 70vw;
}

.proposal-preview {
  background: white;
  border-radius: 20px;
  text-align: left;

  display: grid;
  column-gap: 60px;

  overflow: hidden;
  position: relative;

  .proposal-status {
    position: absolute;
    top: 13px;
    right: 11px;
  }
}

.proposal-preview-details {
  padding: 23px 28px;
  grid-column-start: 1;
  grid-column-end: 6;
}

.proposal-preview-quorum {
  .ant-progress-inner {
    border: 1px solid #d7c9c3;
  }
}

.proposal-preview-stats {
  padding: 23px 28px;
  grid-column-start: 6;
  grid-column-end: 11;
  padding-right: 155px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  background: rgba(253, 251, 250, 0.99);

  > div:not(:last-child) {
    margin-right: 30px;
  }

  > div(:last-child) {
    text-align: right;
  }

  .ant-progress-inner {
    overflow: visible;
  }

  .ant-progress-success-bg {
    border-right: 1px solid @text-color;
    border-top-right-radius: 0px 0px !important;
    border-bottom-right-radius: 0px 0px !important;
    height: 20px !important;
    top: -3px;
  }
}

.proposal-status {
  span {
    background: #e6cff0;
    border-radius: 50px;

    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;

    color: #786282;
    padding: 4px 9px;
  }

  &.approved {
    span {
      background: #c6e6e3;
      color: #30827c;
    }
  }
}

.proposal-preview-title {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 31px;
  a {
    color: @text-color;
  }
}

.proposal-preview-info {
  display: grid;
}

.proposal-preview-author {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  display: inline-block;
  grid-column-start: 1;
  grid-column-end: 2;
}

.proposal-preview-og-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  display: inline-block;
  text-align: right;

  grid-column-start: 2;

  a {
    vertical-align: top;
    color: #bfa9a0;

    &:after {
      content: url('/assets/ext-arrow.svg');
      vertical-align: bottom;
    }
  }
}

.proposal-preview-stats-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.proposal-preview-vote-res {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  :nth-child(2) {
    text-align: right;
  }
}

.submission-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
}

.submission-dates {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.submission-content {
  background: #ffffff;
  border-radius: 20px;
  padding: 40px;

  font-size: 15px;

  margin: auto;
  width: 70vw;
}

.submission-stats {
  display: grid;
  margin: auto;
  width: 70vw;

  grid-template-columns: repeat(4, 1fr);
  column-gap: 45px;
  align-items: center;

  .ant-progress-success-bg {
    border-right: 1px solid @text-color;
    border-top-right-radius: 0px 0px !important;
    border-bottom-right-radius: 0px 0px !important;
    height: 20px !important;
    top: -3px;
  }
}
